body {
    font-family: 'Poppins', sans-serif;
}

.q {
    color: red;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;

}

.a {
    width: 70%;
    font-size: larger;
    padding-right: 10%;
}

.a img {
    width: 100%;
    padding-right: 500px;
    padding-bottom: 50%;
}

.photo {
    padding: 7px 25px;
    background-image: linear-gradient(red, orange);
    color: rgb(255, 255, 255);
    font: 700;
}

#o {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;
}