body {
    font-family: 'Poppins', sans-serif;
}

.q {
    color: red;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;

}

.a {
    width: 70%;
    font-size: larger;
    padding-right: 10%;
}

.a img {
    width: 100%;
    /* padding-right: 500px; */
    padding-bottom: 50%;
    padding-left: 129px;
}

.photo {
    padding: 7px 25px;
    background-image: linear-gradient(red, orange);
    color: rgb(255, 255, 255);
    font: 700;
}

.zz {
    width: 50%;
    box-shadow: 10px 5px 5px red;
    padding-left: 82px;
    box-shadow: 2px black;
    border: solid red 2px;
    border-radius: 20px;
    /* existing styles */
    margin-right: 120px;
    text-underline-offset: ;
}

.za {
    width: 50%;
    box-shadow: 10px 5px 5px red;
    padding-left: 82px;
    box-shadow: 2px black;
    border: solid red 2px;
    border-radius: 20px;
}

#o {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin: 0px;
}

image {
    height: 350px;
}

.md1 {
    color: red;
}

.underline {
    text-decoration: underline red;

}

.z {
    padding-left: 20%;
    color: rgb(0, 0, 0);
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

.lastaa {
    text-underline-offset: auto;
}

.down {

    padding: 7px 25px;
    background-image: linear-gradient(red, orange);
    color: rgb(255, 255, 255);
    font: 700;
    ;
}

.tt {
    display: flex;
    margin: 150px;
}

#q {
    text-align: center;
    width: 50%;
}

#p {
    display: flex;
    margin-bottom: 150px;
}

/* .m {
    height: 350px;
    width: fit-content;
    box-sizing: border-box;
} */